{
    "root": true,
    "parserOptions": {
        "ecmaVersion": 2015,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "commonjs": true
    },
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "scripts/webpack.base.js"
            }
        }
    },
    "plugins": ["prettier"],
    "extends": [
        "plugin:prettier/recommended",
        "prettier/flowtype",
        "prettier/react",
        "prettier/standard"
    ],
    "parser": "babel-eslint",
    "rules": {
        "react/display-name": 0,
        "react/prop-types": 0,
        "react/jsx-filename-extension": [0, { "extensions": [".js", ".jsx"] }],
        "global-require": 0,
        "react/jsx-props-no-spreading": 0,
        "prettier/prettier": ["error", {"singleQuote": true, "parser": "flow", "usePrettierrc": false}]
    }
}